
/* HOME PAGE */

html{
    width: 320;
    height: 548;
    padding: 0px;
    margin: auto;
}

body{
    background-color: whitesmoke;
    width: 320px;
    height: 568px;
    margin: auto;
    padding: 0px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: black;
  
    display: flex;
    justify-content: space-between;
    flex-direction: column;
 
}

a:link, a:visited, a:active {
    text-decoration: none;
}

header {
     
    background-color: turquoise;
    width: 88vw;
    height: 50vh;
    margin: 10px;
    padding: 9px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}



header a {

    transform: translateX(20%);
}

nav {
    
    background-color: rgb(191, 204, 7);

    width: 88vw;
    height: 5vh;
    margin: 10px;
    margin-top: 3px;
    padding: 9px;

}

nav ul {

    display: flex;
    flex-direction: row;
    justify-content: center;

    list-style-type: none;
    margin: 0px;
    padding: 0px; 
    
}

nav ul li a {
    
    font-size: 17px;
    color: black;
    margin: 5px;
}

.developer {

    background-color: rgba(224, 220, 224, 0.856);
    width: 90vw;
    height: 105vh;
    margin: 10px;
    padding: 5px
}

.works img {

    width: 270px;
    height: 150px;
    margin: 10px;
    margin-bottom: 2px;
}

.video {
    
    background-color: rgba(224, 220, 224, 0.856);
    width: 90vw;
    height: 45vh;
    margin: 8px;
    padding: 5px;
}

.video .audiovisualworks {

    width: 310px;
    height: 568px;
    padding: 5spx;
    margin: 5px;

    transform: translateY(-200px);
}

.communication {

    background-color: rgba(224, 220, 224, 0.856);
    width: 88vw;
    height: 155vh;
    margin: 8px;
    padding: 5px;
    margin: 8px;
    padding: 8px;

}

#bohemian {

    width: 280px;
    height: 260px;
}

#starwars {
    
    width: 280px;
    height: 260px;

}
#aves {

    width: 280px;
    height: 260px;
}

footer {

    background-color: turquoise;
    width: 88vw;
    height: 50vh;
    margin: 10px;
    padding: 9px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* PC */

@media only screen and (min-width:1024px) {

    html {
        width: 50vw;
        height: 50vw;
        margin: 0px;
        padding: 0px;
    }

    body {

        width: 50vw;
        height: 10vw;
        margin: 0px;
        padding: 0px;
    }

    header {
        width: 97vw; 
        margin-right: 0px;
        margin-left: 8px;
    }

    header a {

        width: 50vw;
        margin: 0px;
        padding: 0px;
        transform: translateY(-20px) translateX(150px);


    }

    header a h1 {

        width: 50vw;
        margin: 0px;
        padding: 0px;

        display: flex;
        justify-content: center;

        transform: translateX(200px) translateY(20px);
    }

    nav {

        width: 97vw;
        margin-right: 0px;
        margin-left: 8px;
    }

    article.index {

        height: 70vh;
        padding: 0px;

        margin: 0px;
        margin-left: 20px;
    }

    .pack {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(700px) translateY(-495px);
    }

    .developer {
        width: 43vw;
        height: 65vh;
        margin-left: 0px;
        margin-right: 0px;
        
    }
    
    .video {
        width: 50vw;
        height: 30vh;
        margin-left: 0px;
        margin-right: 0px;
    }

    .video .audiovisualworks {

        transform: translateY(-215px);
    }

    .communication {

        width: 50vw;
        height: 30vh;
        margin-left: 0px;
        margin-right: 0px;
    }

    .communicationworks {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .works {

        height: 50vh;
    }

    #bohemian {

        width: 15vw;
        height: 20vh;
    }

    #starwars {

        width: 15vw;
        height: 20vh;
    }

    #aves {

        width: 15vw;
        height: 20vh;
    }

     body footer {
    
        width: 97vw;
        transform: translateY(400px);

        margin-top: 100px;
        margin-right: 0px;
        margin-left: 8px;
 

    }

    
}

/* BIO PAGE */


figure {

  margin-left: 5px;
  padding: 0px;
}
#fotobiografia img{

    width: 200px;
    height: 300px;

    margin-left: 5px;
    padding: 0px;
  
    transform: translateX(50px);
}

#fotobiografia figcaption {

    transform: translateX(55px);
    font-size: 10px;
}

article.bio {

    background-color: rgba(224, 220, 224, 0.856);
    padding: 0px;
    margin: 10px;
    margin-right: 10px;
}

article.bio h1 {

    transform: translateX(60px);
}

section.bio2 {

    width: 90vw;
    margin: 10px;
    padding: 0px;

}

@media only screen and (min-width:1024px) {
    
    figure {

        margin-left: 5px;
        padding: 0px;
      }
      #fotobiografia img{
      
          width: 200px;
          height: 300px;
      
          margin-left: 0px;
          padding: 0px;
        
          transform: translateX(50px) translateY(50px);
      }
      
      #fotobiografia figcaption {
      
          transform: translateX(55px) translateY(50px);
          font-size: 10px;
      }
      
      article.bio {
      
          background-color: rgba(224, 220, 224, 0.856);
          width: 98vw;
          height: 80vh;
          padding: 0px;
          margin: 10px;
          margin-right: 10px;
          margin-bottom: 115px;
      }
      
      article.bio h1 {

        transform: translateX(60px) translateY(40px);
 
      }
      section.bio2 {
      
        width: 70vw;
        margin: 10px;
        padding: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;

       transform: translateX(300px) translateY(-350px);
    
    }

      body footer {

        transform: translateY(10px);
      }
}

/* CONTACT PAGE */

article.contacto {

    background-color:rgba(224, 220, 224, 0.856);
    width: 93vw;
    margin: 10px;

}

article.contacto h1 {

    transform: translateX(20px);
}

article.contacto h2 {

    transform: translateX(20px) translateY(-10px);
    font-size: 15px;
    margin-top: 0px;
    padding: 0px;
}

article.contacto p {

    transform: translateY(-15px) translateX(20px);
    font-size: 11px;
    margin-top: 0px;
    padding: 0px;
}

div.form {

    background-color:rgba(224, 220, 224, 0.856);
    width: 90vw;
    height: 115vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
}

form {
      
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    padding: 30px;

}

form label {

    margin: 5px;
}

form label#privacy {

   font-size: 10px;
   transform: translateX(20px);
}

form input#yes {

    transform: translateY(-20px);
}

form input{

    border-radius: 3px;
    border-width: thin;
    border-style: dotted;
}

form textarea#comments {

    border-radius: 3px;
    border-width: thin;
    border-style: dotted;
}

@media only screen and (min-width:1024px) {

 html {
    height: 5vh;
    padding: 0px;
    margin: 0px;
 }
    article.contacto {

    width: 20vw;
    transform: translateX(150px);
 }

    div.form {

    background-color:rgba(224, 220, 224, 0.856);
    width: 60vw;
    height: 800vh;
    margin: 10px;
    margin-bottom: 5px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;

    transform: translateX(500px) translateY(-145px);
}

form {

    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    margin: 20px;

}

form input, textarea {

    width: 160px;
    height: 20px;
    margin: 15px;

    transform: translateY(-10px);
}

form label.comentarios, textarea#comments {

    transform: translateX(200px);
}

form label#privacy {

    transform: translateY(110px) translateX(4px);

}


form input#yes {

    transform: translateY(98px) translateX(-255px);

}

input#submit {

    transform: translateY(20px);
}

body footer {

    transform: translateY(-100px);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

}